body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
